<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
	<script src="https://unpkg.com/dropbox@4.0.3/dist/Dropbox-sdk.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-R/oa7KS0iDoHwdh4Gyl3/fU7pgvSCt7oyuQ79pkw+e+bMWD9dzJJa+Zqd+XJS0AD" crossorigin="anonymous">
	<style media="screen">
		body{margin: 0 auto;
			text-align: center;
		}
		#bigfont{
			font-size: 96pt;
		}
		#bt{
			margin: 60px auto;
		}
		#set3{
			margin: 40px auto;
		}
	</style>
</head>

<body class="p-3">
	<script id="date">
		document.body.style.zoom=1.5;
		//document.write(Date());
	</script>

	<div id="app">
		<h1 class="mb-3"><font color='#FF773E'>日本語音声収集</font></h1>
		<div id='set'>
			<h2>Start Recordingをクリックし</h2>
			<h2>次の文字を読み上げてください</h2>
		</div>

		<h1 id="random"></h1>
		<h2 id="random2"></h2>
		<button class="btn btn-danger" type="button" v-if="status=='ready'" @click="startRecording" id='bt'>
			Start Recording
		</button>
		<button class="btn btn-primary" type="button" v-if="status=='end'" @click="relode">もう一度、協力する</button>
		<h1 v-if="status=='recording'" id="random"></h1>

		<div id='set2'>
			<h2><font color='#FF773E'>2秒間ごとに</font></h2>
			<h2><font color='#FF773E'>文字が切り替わります</font></h2>
			<div id='set3'>
				<h2>※iPhoneをお使いの方へ</h2>
				<h2>設定 -> safari -> 詳細</h2>
				<h2>-> Experimental Features</h2>
				<h2>-> <font color='#FF773E'>MeddiaRecoder</font></h2>
				<h2>をonにしてください</h2>
			</div>
		</div>
	</div>
	<script src="audio.js"></script>

	<!--<script id="date">
		document.body.style.zoom=1.0;
		document.write(Date());
	</script>-->


</body>

</html>
